[defaults]
inventory = inventory/hosts.yml
private_key_file = ~/.ssh/ansible-on-nest
vault_password_file = ~/.config/ansible-on-nest/vault-pass
stdout_callback = default
host_key_checking = False

[ssh_connection]
pipelining = True