[Unit]
Description=Promtail log shipper
After=network.target wg-quick@wg0.service

[Service]
ExecStart=/usr/local/bin/promtail -config.file=/etc/promtail/config.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
