[Interface]
PrivateKey = {{ vps_wg_private_key }}
Address = 10.10.0.1/24
ListenPort = 51820
MTU = 1420
# Reload nftables after wg0 comes up so the iif index is always current
PostUp = systemctl reload nftables

[Peer]
# Nest monitoring LXC (moved from Docker LXC)
PublicKey = {{ nest_wg_public_key }}
AllowedIPs = 10.10.0.2/32

[Peer]
# Talos k8s node
PublicKey = Q4UFZdOAN2L0qZXmFJTKB4YiagVI3W7BtQNQPtDZJB8=
AllowedIPs = 10.10.0.3/32
